@charset "utf-8";
 CSS Document 
#qk{width: 100%;height: 30px;}
.xl{list-style: none;}
.lj{float:right;text-decoration: none;margin-left: 10px;margin-right: 50px;font-size: 20px}
body{background-image: linear-gradient(to right, #25e5a2, #18e8b0, #0febbd, #10eeca, #1cf1d6, #21f2d8, #26f4db, #2af5dd, #29f6d6, #2cf6ce, #32f7c6, #3bf7bd);}